<%- include('./partials/Nav') %>
<!-- //it is used to add the navbar file here -->
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est ea eum alias, porro ipsam? Blanditiis nihil perferendis, enim ea quibusdam dolorum corrupti nemo facilis nisi totam quis maxime, quisquam distinctio provident dolorem natus facere expedita, fugiat inventore cum harum reprehenderit? Sapiente magnam obcaecati, nihil tempore blanditiis dolore sed voluptatem ratione vero beatae quisquam, ducimus omnis vel eveniet explicabo, illum ipsam nostrum sit harum perferendis delectus? Tempore, ad veritatis. Adipisci quisquam sit consectetur suscipit facere et aspernatur alias provident maiores illo. Quas laboriosam placeat repellat reiciendis assumenda asperiores deserunt unde libero. Vitae iure adipisci qui placeat voluptatum labore in nulla temporibus, explicabo rem non doloribus ipsum animi totam quibusdam vero praesentium iusto soluta aliquid dolore magni voluptate earum, ducimus asperiores. Voluptatibus quia rem, voluptas inventore provident quas quisquam qui laudantium neque blanditiis possimus in nulla tempore similique eum voluptatum magnam maiores quos commodi dolor adipisci facere modi culpa? Tenetur incidunt, voluptatem earum ullam eum quisquam, blanditiis accusamus facere dolor quos magni labore porro? Alias fugiat rem dolor repellat sed, adipisci eius aperiam accusantium neque aliquid facilis illum asperiores eos temporibus dolorum quasi. Animi sequi eum aperiam culpa, optio omnis quisquam! Dicta, a? Sequi, ea tempora! Corrupti, quia reiciendis. Nisi, dignissimos.</p>
    <a href="/random"><button>Random</button></a>
    <a href="/todos"><button>TODOS</button></a>
    <!-- used to change by simple click on button-->
    <button id="clickme">Check Click</button>
    <%- include('./partials/footer') %>
    <!-- it is used to add footer file -->
